@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
// colors
$blue: #2596be;
$darkblue: #165a72;
$lightblue: #a8d5e5;
$activeblue: #3ba1c5;
$graycolor: #909090;
$white: white;
