@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  max-height: 100vh;
  height: 100vh;
  background-color: $blue;
  text-align: center;
  position: relative;

  header {
    border-bottom: 1px solid $darkblue;
    display: flex;
    justify-content: space-around;
    padding: 2rem;

    p {
      font-size: 2.5rem;
    }

    select {
      border-style: none;
      border-radius: 1rem;
      width: 20rem;
      font-size: 1.5rem;
      background-color: $lightblue;
    }
  }

  .card_container {
    margin: 5rem auto;
    width: 100rem;
    height: min-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
      border: 1px solid yellow;
      width: 26rem;
      height: 26rem;
      margin-bottom: 4rem;
    }
  }

  table {
    border-top: 1px solid $darkblue;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    bottom: 4rem;
    left: 0;
    width: 100%;
    height: 15rem;
    tr {
      border: 2px solid blue;
      font-size: 2.3rem;

      th {
        padding: 1rem 4rem 1rem 8rem;
      }

      td {
        padding: 2rem 6rem 2rem 2rem;
      }
    }
  }
}

// display none
.hide {
  display: none;
}

.not_visible {
  visibility: hidden;
}
