@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");

$lightgray: #f0f0f0;
$font_gray: #787878;
$footer_yellow: #ffb600;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $lightgray;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;

  h3 {
    font-weight: 300;
    font-size: 22px;
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 55px;
    font-weight: 900;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo-container {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      justify-content: center;

      .logo {
        width: 90px;
        height: 140px;
        padding: 10px;
        img {
          width: 100%;
        }
      }

      .text-container {
        width: 270px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 4px;

        .title {
          padding: 0;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .description {
          color: $font_gray;
          font-weight: 4500;
          max-width: 220px;
        }
      }
    }
  }

  .picture-container {
    margin: 20px;
    img {
      height: 100%;
    }
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  .footer-card-container {
    width: 50%;
    padding: 20px;

    .footer-card {
      color: azure;
      margin-bottom: 20px;
      min-width: 300px;
      .footer-card-title {
        padding: 15px;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 700;
        border-left: 1px solid $footer_yellow;
      }

      .logo-pic-title {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        .logo {
          margin: 5px;
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
          }
        }
        h1 {
          font-weight: 800;
          font-size: 40px;
        }
      }

      .card-text {
        margin-top: 9px;
        color: $font_gray;
      }

      .social-media-container {
        img {
          margin: 5px;
          margin-top: 10px;
          width: 25px;
          height: 25px;
        }
      }

      .schedule {
        display: flex;
        flex-direction: column;
        color: $font_gray;
        margin-top: 15px;

        .schedule-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      .options {
        margin-top: 10px;
      }
      .option {
        color: $font_gray;
        border-bottom: 1px solid #202020;
        padding-bottom: 9px;
        margin-bottom: 26px;
      }

      .option.no-border {
        border-bottom: none;
      }
    }
  }

  .footer-copyrights-and-links {
    width: 75%;
    background-color: $footer_yellow;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .copyrights {
        order: 2;
        margin: 5px;
        color: #f0f0f0;
        font-size: 15px;
      }

      .links {
        order: 1;
        width: 60%;
        margin: 20px;
        ul {
          list-style-type: none;

          li {
            margin: 7px;
            width: 100%;
            padding: 5px;
            text-align: center;
          }

          li:hover {
            background-color: #202020;
            color: $lightgray;
          }
        }
      }
    }
  }
}

.top-button {
  background-color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  img {
    vertical-align: top;
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .card-container {
    flex-direction: row !important;
    justify-content: space-around !important;
    flex-wrap: wrap;

    .card-one {
      order: 1;
    }

    .card-two {
      order: 3;
    }

    .picture-container {
      order: 2;
      min-width: 400px;
      img {
        width: 100%;
      }
    }
  }

  .footer-card-container {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 70% !important;

    .footer-card {
      width: 30%;
      min-height: 300px;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin: 0 !important;
      gap: 20px;

      .footer-card-title {
        padding: 0 0 0 7px !important;
        margin: 0 !important;
      }
    }
  }

  .footer-copyrights-and-links {
    height: 80px;
    .wrapper {
      flex-direction: row !important;
      justify-content: space-between !important;
      width: 65% !important;
      height: 100%;

      .copyrights {
        order: 1;
        color: #202020 !important;
      }

      .links {
        order: 2 !important;
        display: flex;
        flex-direction: row;
        justify-content: end;

        min-width: 500px;
        height: 100%;
        margin: 0 !important;
        ul {
          margin: 0;
          padding: 0;
          height: 100% !important;
          li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px !important;
            float: left;
            margin: 0px !important;
            padding: 0px !important;
            height: 100%;
          }
        }
      }
    }
  }
}
