@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
body .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 60%;
}
body .title .logo {
  width: 80px;
  height: 60px;
  border-right: 2px solid lightgray;
  padding-right: 20px;
}
body .title .logo img {
  width: 100%;
  height: 100%;
}
body .title .title-text {
  padding-left: 20px;
  color: #404040;
}
body .title .title-text h5 {
  font-weight: 400;
  color: #787878;
}
body .card-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  color: #787878;
}
body .card-container .card {
  width: 300px;
  height: 650px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 30px;
}
body .card-container .card .top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  flex-direction: column;
}
body .card-container .card .top-section p {
  font-size: 15px;
  font-weight: 500;
}
body .card-container .card .top-section.black-font {
  color: #585858;
}
body .card-container .card .price-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 22%;
  background-color: lightgray;
  margin-bottom: 30px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 89%, 61% 89%, 51% 100%, 41% 90%, 0 90%);
}
body .card-container .card .price-section .price-section-number {
  position: relative;
  font-weight: 500;
}
body .card-container .card .price-section .price-section-number .price-section-dollar {
  font-size: 25px;
  position: absolute;
  top: -13px;
  left: -13px;
}
body .card-container .card .price-section .price-section-number p {
  font-size: 18px;
}
body .card-container .card .price-section .price-section-number p span {
  font-size: 44px;
}
body .card-container .card .price-section.orange-background {
  background-color: #ee3c25;
  color: white;
}
body .card-container .card .lower-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-top: 1px;
  border-bottom: 1px dashed #a0a0a0;
}
body .card-container .card .no-border {
  border-bottom: none;
}
body .card-container .card .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  border: 2px solid red;
  background-color: white;
  color: #303030;
  border-radius: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

@media only screen and (min-width: 768px) {
  .title {
    width: 75% !important;
    justify-content: start !important;
  }
  .card-container {
    flex-direction: row !important;
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  .card-container .card {
    margin: 0px 0px 40px 0px !important;
  }
}/*# sourceMappingURL=styles.css.map */