@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f1eee9;
  text-align: center;
  overflow-x: hidden;
}
body header {
  height: 7rem;
  width: 100vw;
  background-color: #666666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40rem;
}
body header .logo {
  margin-top: 0.5rem;
}
body header form {
  display: flex;
}
body header form input {
  height: 3rem;
  padding: 1rem;
}
body header form button {
  width: 3rem;
  height: 3rem;
  background-color: #feb253;
  border: none;
}
body nav {
  height: 5rem;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav ul {
  display: flex;
  gap: 12rem;
  list-style-type: none;
}
body nav ul li {
  font-size: 1.8rem;
  font-weight: 500;
  color: #666666;
  cursor: pointer;
}
body nav ul .nav_active {
  color: #feb253;
}
body nav label {
  font-size: 1.8rem;
  color: #666666;
  position: absolute;
  right: 42rem;
}
body nav input {
  position: absolute;
  right: 40rem;
}

main {
  margin: auto;
  width: 55vw;
}
main .sortedContainer {
  width: 100%;
  text-align: start;
  padding-top: 2rem;
}
main .sortedContainer h3 {
  border-bottom: 1px solid #feb253;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #666666;
}
main .sortedContainer .bestRatedItems,
main .sortedContainer .mostReviewsItems {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
main .bestRatedItem,
main .bestSellingItem,
main .book {
  position: relative;
  width: 22%;
  height: 45rem;
  text-align: center;
  overflow-x: hidden;
  background-color: #ffffff;
  margin-bottom: 3rem;
  cursor: pointer;
}
main .bestRatedItem img,
main .bestSellingItem img,
main .book img {
  height: 65%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}
main .bestRatedItem h5,
main .bestSellingItem h5,
main .book h5 {
  margin-top: 1rem;
  font-size: 1.3rem;
  pointer-events: none;
}
main .bestRatedItem .price_and_add,
main .bestSellingItem .price_and_add,
main .book .price_and_add {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  padding: 0 2rem 0 2rem;
  justify-content: space-between;
  font-size: 1.5rem;
  pointer-events: none;
  position: absolute;
  bottom: 2rem;
}
main .booksContainer {
  text-align: start;
  padding-top: 2rem;
  position: relative;
}
main .booksContainer h3 {
  border-bottom: 1px solid #feb253;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #666666;
}
main .booksContainer .books {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
}
main .booksContainer .categories {
  position: absolute;
  top: 2.2rem;
  left: -25rem;
}
main .booksContainer .categories select {
  width: 20rem;
  height: 3rem;
  background-color: #feb253;
  border: none;
  padding: 0.5rem;
}
main .booksContainer .categories select option {
  background-color: #ffffff;
}
main .pic_and_details {
  margin-top: 3rem;
  display: flex;
}
main .pic_and_details img {
  margin-right: 3rem;
}
main .pic_and_details-details {
  margin-top: 2rem;
  flex: 1;
  text-align: start;
}
main .pic_and_details-details h2 {
  border-bottom: 1px solid #feb253;
  font-size: 2rem;
}
main .pic_and_details-details p {
  margin-top: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
}
main .pic_and_details .details_rating {
  width: max-content;
  padding: 0 0.5rem;
}
main .description {
  text-align: start;
}
main .description h2 {
  border-bottom: 1px solid #feb253;
  margin-top: 2rem;
  font-size: 1.8rem;
}
main .description p {
  margin-top: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.back_button {
  background-color: #feb253;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  cursor: pointer;
}

.hide {
  display: none !important;
}/*# sourceMappingURL=style.css.map */