@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "lust";
  src: url("../fonts/lust-slim.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

.clients_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.clients_section-container {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.clients_section-container .client-logo {
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.clients_section-container .client-logo img {
  width: 12rem;
}

@media screen and (min-width: 768px) {
  .clients_section-container {
    grid-template-columns: 1fr 1fr;
  }
  .clients_section-container .client-logo:last-child {
    grid-column: 1/3;
    justify-self: center;
  }
}
@media screen and (min-width: 1280px) {
  .clients_section-container {
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .clients_section-container .client-logo {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .clients_section-container .client-logo img {
    width: 12rem;
  }
  .clients_section-container .client-logo:nth-child(11) {
    grid-column: 2/2;
  }
  .clients_section-container .client-logo:nth-child(12) {
    grid-column: 3/3;
  }
  .clients_section-container .client-logo:nth-child(13) {
    grid-column: 4/4;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "lust";
  src: url("../fonts/lust-slim.ttf");
}
.why_badin-top_img {
  display: none;
  width: 50rem;
}
.why_badin-top_img img {
  width: 100%;
  border-radius: 22px;
}
.why_badin-first_wrapper h1 {
  font-family: lust, "Courier", serif;
  font-weight: 900;
  font-style: italic;
  color: #22252e;
  font-size: 3rem;
  letter-spacing: 3px;
  margin: 3rem 12px;
}
.why_badin-first_wrapper p {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  color: #505050;
  line-height: 1.7;
  margin: 2rem 16px;
}
.why_badin-second_wrapper p {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  color: #505050;
  line-height: 1.7;
  margin: 2rem 16px;
}
.why_badin-second_wrapper .why_badin_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 5rem;
}
.why_badin-second_wrapper .why_badin_img img {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@media screen and (min-width: 768px) {
  .why_badin {
    padding-left: 12%;
  }
  .why_badin-top_img {
    display: block;
  }
  .why_badin-first_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 3rem;
  }
  .why_badin-first_wrapper h1 {
    font-size: 5rem;
    max-width: 15rem;
  }
  .why_badin-first_wrapper p {
    font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    color: #505050;
    line-height: 1.7;
    max-width: 55rem;
    margin: 4rem;
  }
  .why_badin-second_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .why_badin-second_wrapper-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 45rem;
    margin-top: -6rem;
  }
  .why_badin-second_wrapper-text p {
    font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    color: #505050;
    line-height: 1.7;
  }
  .why_badin-second_wrapper .why_badin_img {
    margin-right: -5rem;
    width: 49vw;
    min-width: 32rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "lust";
  src: url("../fonts/lust-slim.ttf");
}
@keyframes picture-rotator1 {
  0% {
    left: 7rem;
    top: 2rem;
    scale: 1;
  }
  15% {
    left: 7rem;
    top: 2rem;
    scale: 1;
  }
  20% {
    left: 12rem;
    top: 7rem;
    scale: 1.3;
  }
  35% {
    left: 12rem;
    top: 7rem;
    scale: 1.3;
  }
  40% {
    left: 8rem;
    top: 15rem;
    scale: 1;
  }
  55% {
    left: 8rem;
    top: 15rem;
  }
  60% {
    left: 2rem;
    top: 11rem;
  }
  75% {
    left: 2rem;
    top: 11rem;
  }
  80% {
    left: 1rem;
    top: 5rem;
  }
  95% {
    left: 1rem;
    top: 5rem;
  }
  100% {
    left: 7rem;
    top: 2rem;
  }
}
@keyframes picture-rotator2 {
  0% {
    left: 12rem;
    top: 7rem;
    scale: 1.2;
  }
  15% {
    left: 12rem;
    top: 7rem;
    scale: 1.2;
  }
  20% {
    left: 8rem;
    top: 15rem;
    scale: 1;
  }
  35% {
    left: 8rem;
    top: 15rem;
    scale: 1;
  }
  40% {
    left: 2rem;
    top: 11rem;
  }
  55% {
    left: 2rem;
    top: 11rem;
  }
  60% {
    left: 1rem;
    top: 5rem;
  }
  75% {
    left: 1rem;
    top: 5rem;
  }
  80% {
    left: 7rem;
    top: 2rem;
  }
  95% {
    left: 7rem;
    top: 2rem;
  }
  100% {
    left: 12rem;
    top: 7rem;
    scale: 1.2;
  }
}
@keyframes picture-rotator3 {
  0% {
    left: 8rem;
    top: 15rem;
  }
  15% {
    left: 8rem;
    top: 15rem;
  }
  20% {
    left: 2rem;
    top: 11rem;
  }
  35% {
    left: 2rem;
    top: 11rem;
  }
  40% {
    left: 1rem;
    top: 5rem;
  }
  55% {
    left: 1rem;
    top: 5rem;
  }
  60% {
    left: 7rem;
    top: 2rem;
  }
  75% {
    left: 7rem;
    top: 2rem;
    scale: 1;
  }
  80% {
    left: 12rem;
    top: 7rem;
    scale: 1.2;
  }
  95% {
    left: 12rem;
    top: 7rem;
    scale: 1.2;
  }
  100% {
    left: 8rem;
    top: 15rem;
    scale: 1;
  }
}
@keyframes picture-rotator4 {
  0% {
    left: 2rem;
    top: 11rem;
  }
  15% {
    left: 2rem;
    top: 11rem;
  }
  20% {
    left: 1rem;
    top: 5rem;
  }
  35% {
    left: 1rem;
    top: 5rem;
  }
  40% {
    left: 7rem;
    top: 2rem;
  }
  55% {
    left: 7rem;
    top: 2rem;
    scale: 1;
  }
  60% {
    left: 12rem;
    top: 7rem;
    scale: 1.2;
  }
  75% {
    left: 12rem;
    top: 7rem;
    scale: 1.2;
  }
  80% {
    left: 8rem;
    top: 15rem;
    scale: 1;
  }
  95% {
    left: 8rem;
    top: 15rem;
  }
  100% {
    left: 2rem;
    top: 11rem;
  }
}
@keyframes picture-rotator5 {
  0% {
    left: 1rem;
    top: 5rem;
  }
  15% {
    left: 1rem;
    top: 5rem;
  }
  20% {
    left: 7rem;
    top: 2rem;
  }
  35% {
    left: 7rem;
    top: 2rem;
    scale: 1;
  }
  40% {
    left: 12rem;
    top: 7rem;
    scale: 1.2;
  }
  55% {
    left: 12rem;
    top: 7rem;
    scale: 1.2;
  }
  60% {
    left: 8rem;
    top: 15rem;
    scale: 1;
  }
  75% {
    left: 8rem;
    top: 15rem;
  }
  80% {
    left: 2rem;
    top: 11rem;
  }
  95% {
    left: 2rem;
    top: 11rem;
  }
  100% {
    left: 1rem;
    top: 5rem;
  }
}
@keyframes client_circle1 {
  0% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  15% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  20% {
    background-color: white;
    border-color: lightblue;
  }
  55% {
    background-color: white;
    border-color: lightblue;
  }
  95% {
    background-color: white;
    border-color: lightblue;
  }
  100% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
}
@keyframes client_circle2 {
  0% {
    background-color: white;
    border-color: lightblue;
  }
  15% {
    background-color: white;
    border-color: lightblue;
  }
  20% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  35% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  40% {
    background-color: white;
    border-color: lightblue;
  }
}
@keyframes client_circle3 {
  0% {
    background-color: white;
    border-color: lightblue;
  }
  20% {
    background-color: white;
    border-color: lightblue;
  }
  35% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  40% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  55% {
    background-color: white;
    border-color: lightblue;
  }
}
@keyframes client_circle3 {
  0% {
    background-color: white;
    border-color: lightblue;
  }
  35% {
    background-color: white;
    border-color: lightblue;
  }
  40% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  55% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  60% {
    background-color: white;
    border-color: lightblue;
  }
}
@keyframes client_circle4 {
  0% {
    background-color: white;
    border-color: lightblue;
  }
  55% {
    background-color: white;
    border-color: lightblue;
  }
  60% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  75% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  80% {
    background-color: white;
    border-color: lightblue;
  }
}
@keyframes client_circle5 {
  0% {
    background-color: white;
    border-color: lightblue;
  }
  75% {
    background-color: white;
    border-color: lightblue;
  }
  80% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  95% {
    background-color: #1e90ff;
    border-color: #1e90ff;
  }
  100% {
    background-color: white;
    border-color: lightblue;
  }
}
@keyframes text1 {
  0% {
    display: block;
    opacity: 1;
    transform: translateY(-1rem);
  }
  1% {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }
  15% {
    opacity: 1;
    transform: translateY(0rem);
    display: block;
  }
  17% {
    display: none;
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
}
@keyframes text2 {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
  15% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
  16% {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }
  35% {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }
  37% {
    display: none;
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateY(1rem);
  }
}
@keyframes text3 {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
  38% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
  40% {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }
  56% {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }
  60% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
}
@keyframes text4 {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
  56% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
  58% {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }
  74% {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }
  75% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
}
@keyframes text5 {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
  77% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
  79% {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }
  96% {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateY(-1rem);
  }
}
.what_we_offer {
  background-color: #f9fafe;
  overflow: auto;
  padding-left: 1rem;
}
.what_we_offer h1 {
  font-family: lust, "Courier", serif;
  font-weight: 900;
  font-style: italic;
  color: #22252e;
  font-size: 3rem;
  letter-spacing: 3px;
  margin: 3rem 12px 2rem 12px;
}
.what_we_offer p {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: #909090;
  line-height: 1.6;
  margin: 1rem 16px;
  font-weight: 500;
}
.what_we_offer .services_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: white;
  line-height: 1.7;
  background-color: #317ade;
  padding: 1rem 1rem;
  margin: 2rem 1rem;
  width: 18rem;
  height: 3rem;
  border-radius: 2rem;
}
.what_we_offer-container {
  margin-bottom: 12rem;
}
.what_we_offer-container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 24rem;
  margin-bottom: 3rem;
}
.what_we_offer-container-card .what_we_offer-card-title_blue {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #317ade;
  line-height: 1.7;
  margin: 4px 1rem;
}
.what_we_offer-container-card .what_we_offer-card-title_black {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: black;
  line-height: 1.7;
  margin: 4px 1rem;
}
.what_we_offer-container-card .what_we_offer-card-title_orange {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #ed701d;
  line-height: 1.7;
  margin: 4px 1rem;
}
.what_we_offer-container-card .what_we_offer-card-title_green {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #1ebf73;
  line-height: 1.7;
  margin: 4px 1rem;
}
.what_we_offer-container-card .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 1rem;
  margin-top: 1rem;
}
.what_we_offer-container-card .icons-container .icon {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.what_we_offer-container-card .icons-container .icon img {
  width: 100%;
}
.what_we_offer-container-card .main-picture-up {
  margin-top: 2rem;
  width: 160px;
  height: 250px;
}
.what_we_offer-container-card .main-picture-up img {
  width: 100%;
}
.what_we_offer-container-card .main-picture-mid {
  margin-top: 2rem;
  width: 275px;
  height: 250px;
}
.what_we_offer-container-card .main-picture-mid img {
  width: 100%;
}
.what_we_offer-container-card .main-picture-dwn {
  margin-top: 2rem;
  width: 250px;
  height: 310px;
}
.what_we_offer-container-card .main-picture-dwn img {
  width: 100%;
}
.what_we_offer .trusted_by_section h2 {
  font-family: lust, "Courier", serif;
  font-weight: 900;
  font-style: italic;
  color: #22252e;
  font-size: 48px;
  letter-spacing: 2px;
  margin: 6rem 12px 2rem 12px;
}
.what_we_offer .trusted_by_section p {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #909090;
  line-height: 1.6;
  margin: 1rem 16px;
  font-weight: 500;
}
.what_we_offer .trusted_by_section .trusted_by_container {
  position: relative;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.what_we_offer .trusted_by_section .trusted_by_container .quote-open,
.what_we_offer .trusted_by_section .trusted_by_container .quote-close {
  display: none;
}
.what_we_offer .trusted_by_section .trusted_by_container-pic_container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  flex-wrap: nowrap;
  margin-left: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
}
.what_we_offer .trusted_by_section .trusted_by_container-pic_container .client_pic_big {
  width: 130px;
  height: 130px;
  position: relative;
  bottom: 5px;
}
.what_we_offer .trusted_by_section .trusted_by_container-pic_container .client_pic_big img {
  width: 100%;
}
.what_we_offer .trusted_by_section .trusted_by_container-pic_container .client_pic_normal {
  width: 80px;
  height: 80px;
}
.what_we_offer .trusted_by_section .trusted_by_container-pic_container .client_pic_normal img {
  width: 100%;
}
.what_we_offer .trusted_by_section .trusted_by_container .order_line {
  display: none;
}
.what_we_offer .trusted_by_section .trusted_by_container .name_and_text_wrapper .name_and_role-name {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #22252e;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 0px;
}
.what_we_offer .trusted_by_section .trusted_by_container .name_and_text_wrapper .name_and_role-role {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #6b728e;
  line-height: 1.6;
  font-weight: 700;
  margin-top: 0px;
}
.what_we_offer .trusted_by_section .trusted_by_container .name_and_text_wrapper-text p {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: black;
  line-height: 1.6;
  font-weight: 500;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .what_we_offer {
    position: relative;
    padding-left: 12%;
  }
  .what_we_offer h1 {
    font-size: 5rem;
    max-width: 28rem;
    margin-bottom: 1rem;
  }
  .what_we_offer p {
    max-width: 40rem;
    line-height: 29px;
    margin-bottom: 4rem;
  }
  .what_we_offer .services_btn {
    position: absolute;
    top: 2rem;
    right: 8%;
  }
  .what_we_offer-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
  }
  .what_we_offer .trusted_by_section h2 {
    font-size: 6rem;
    margin: 6rem 12px 2rem 12px;
  }
  .what_we_offer .trusted_by_section p {
    max-width: 29rem;
    color: #6b728e;
  }
  .what_we_offer .trusted_by_section .trusted_by_container {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .quote-open {
    display: block;
    position: absolute;
    top: -7rem;
    left: 25em;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .quote-close {
    display: block;
    position: absolute;
    top: 19rem;
    left: 56rem;
  }
  .what_we_offer .trusted_by_section .trusted_by_container-pic_container {
    width: 22rem;
    height: 22rem;
    margin-right: 2rem;
    position: relative;
  }
  .what_we_offer .trusted_by_section .trusted_by_container-pic_container .client_pic_big {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
  }
  .what_we_offer .trusted_by_section .trusted_by_container-pic_container .client_pic_big img {
    width: 100%;
  }
  .what_we_offer .trusted_by_section .trusted_by_container-pic_container .rotator_1 {
    animation: picture-rotator1 25s infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container-pic_container .rotator_2 {
    animation: picture-rotator2 25s infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container-pic_container .rotator_3 {
    animation: picture-rotator3 25s infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container-pic_container .rotator_4 {
    animation: picture-rotator4 25s infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container-pic_container .rotator_5 {
    animation: picture-rotator5 25s infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container-pic_container .client_pic_normal {
    position: absolute;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .order_line {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 3px;
    height: 18rem;
    margin-bottom: 1rem;
    padding: 22px 0px;
    background-color: lightblue;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .order_line-circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border: 2px solid lightblue;
    border-radius: 100%;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .order_line .circle_1 {
    animation: client_circle1 25s infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .order_line .circle_2 {
    animation: client_circle2 25s infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .order_line .circle_3 {
    animation: client_circle3 25s infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .order_line .circle_4 {
    animation: client_circle4 25s infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .order_line .circle_5 {
    animation: client_circle5 25s infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .name_and_text_wrapper {
    position: absolute;
    left: 29rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: start;
    flex-wrap: nowrap;
    flex-grow: 1;
    margin-left: 1rem;
    padding-bottom: 2rem;
    min-width: 30rem;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .name_and_text_wrapper-text p {
    font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    color: black;
    line-height: 1.6;
    max-width: 600px;
    line-height: 28px;
    font-style: italic;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .wrapper-1 {
    animation: text1 25s linear infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .wrapper-2 {
    animation: text2 25s linear infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .wrapper-3 {
    animation: text3 25s linear infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .wrapper-4 {
    animation: text4 25s linear infinite;
  }
  .what_we_offer .trusted_by_section .trusted_by_container .wrapper-5 {
    animation: text5 25s linear infinite;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "lust";
  src: url("../fonts/lust-slim.ttf");
}
.lets_start_and_clients-lets_start .behind {
  position: relative;
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 42px;
  color: #e8e8e8;
  line-height: 1.6;
  margin-top: 4rem;
  margin-left: 3rem;
}
.lets_start_and_clients-lets_start h1 {
  position: relative;
  font-family: lust, "Courier", serif;
  font-weight: 900;
  font-style: italic;
  color: #22252e;
  font-size: 48px;
  letter-spacing: 2px;
  margin-top: -2rem;
  margin-left: 3rem;
}
.lets_start_and_clients-lets_start .sentence {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #6b728e;
  line-height: 1.6;
  font-weight: 500;
  width: 65%;
  margin: 4rem 3rem 3rem 3rem;
}
.lets_start_and_clients-lets_start .lets_connect_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: white;
  line-height: 1.7;
  background-color: #317ade;
  padding: 1rem 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  width: 12rem;
  height: 40pxrem;
  border-radius: 2rem;
}
.lets_start_and_clients .trusted_by_second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f9fafe;
}
.lets_start_and_clients .trusted_by_second h6 {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #6b728e;
  line-height: 1.6;
  margin: 2rem;
}
.lets_start_and_clients .trusted_by_second-icons_container {
  background-color: #f9fafe;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  padding-bottom: 2rem;
}
.lets_start_and_clients .trusted_by_second-icons_container .client_icon {
  margin: 2rem 1rem;
}
.lets_start_and_clients .trusted_by_second-icons_container .client_icon img {
  width: 10rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "lust";
  src: url("../fonts/lust-slim.ttf");
}
.open_positions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: #f9fafe;
}
.open_positions h1 {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  color: #e0e0e0;
  line-height: 1.6;
  margin: 1rem;
}
.open_positions h3 {
  font-family: lust, "Courier", serif;
  font-weight: 900;
  font-style: italic;
  margin: 0rem 1rem;
  color: #22252e;
  font-size: 44px;
}
.open_positions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: white;
  margin-top: 2rem;
  width: 95%;
  height: 9rem;
  border-radius: 1rem;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.open_positions-container .position-title {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #22252e;
  line-height: 1.6;
  margin-top: 2rem;
  margin-left: 2rem;
}
.open_positions-container .position-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  margin-left: 2rem;
  background-color: #317ade;
  border-radius: 2rem;
  width: 10rem;
  padding: 7px 18px;
}
.open_positions-container .position-button p {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: white;
  line-height: 1.6;
}
.open_positions-container .position-button img {
  width: 18px;
}
.open_positions .all_positions_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 3rem;
  padding: 10px 40px;
  background-color: black;
  border-radius: 2rem;
  align-self: center;
}
.open_positions .all_positions_btn p {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: white;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .open_positions h1 {
    font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 110px;
    color: #e0e0e0;
    line-height: 1.6;
  }
  .open_positions h3 {
    position: relative;
    top: -6rem;
    letter-spacing: 10px;
    font-size: 85px;
  }
  .open_positions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 7rem;
    border-radius: 1rem;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .open_positions-container .position-title {
    font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #22252e;
    line-height: 1.6;
    margin-top: 0rem;
    margin-left: 2rem;
  }
  .open_positions-container .position-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 1rem;
    background-color: #317ade;
    border-radius: 2rem;
    width: 10rem;
    padding: 7px 18px;
  }
  .open_positions-container .position-button p {
    font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: white;
    line-height: 1.6;
  }
  .open_positions-container .position-button img {
    width: 18px;
  }
  .open_positions .all_positions_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 3rem;
    padding: 10px 40px;
    background-color: black;
    border-radius: 2rem;
    align-self: center;
  }
  .open_positions .all_positions_btn p {
    font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: white;
    line-height: 1.6;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "lust";
  src: url("../fonts/lust-slim.ttf");
}
.pictures {
  margin-top: 4rem;
}
.pictures .picture_container {
  width: 90%;
  margin: auto;
}
.pictures .picture_container img {
  width: 100%;
  border-radius: 10px;
}
.pictures .picture_5,
.pictures .picture_6 {
  display: none;
}

@media screen and (min-width: 768px) {
  .pictures {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "pic_1 pic_3 pic_5" "pic_2 pic_3 pic_4" "pic_6 pic_3 pic_4";
    gap: 35px;
  }
  .pictures .picture_container {
    width: 100%;
  }
  .pictures .picture_container img {
    width: 100%;
  }
  .pictures .picture_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    grid-area: pic_1;
  }
  .pictures .picture_1 img {
    width: 95%;
  }
  .pictures .picture_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    grid-area: pic_2;
  }
  .pictures .picture_2 img {
    width: 95%;
  }
  .pictures .picture_3 {
    border-radius: 1rem;
    grid-area: pic_3;
  }
  .pictures .picture_4 {
    position: relative;
    top: -3rem;
    grid-area: pic_4;
  }
  .pictures .picture_5 {
    display: block;
    position: relative;
    top: 2rem;
    grid-area: pic_5;
  }
  .pictures .picture_6 {
    display: block;
    border-radius: 1rem;
    overflow: hidden;
    grid-area: pic_6;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "lust";
  src: url("../fonts/lust-slim.ttf");
}
.expertise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: #1c408c;
  padding-bottom: 5rem;
}
.expertise h1 {
  font-family: lust, "Courier", serif;
  font-weight: 900;
  font-style: italic;
  align-self: flex-start;
  margin-top: 4rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  color: white;
  font-size: 60px;
  letter-spacing: 2px;
}
.expertise .technology_line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 2rem;
}
.expertise .technology_line span {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: white;
  line-height: 1.6;
  position: relative;
  white-space: nowrap;
  height: 2rem;
  opacity: 0.5;
  font-weight: 700;
  margin-right: 2rem;
}
.expertise .animation-left {
  animation: expertise_left 35s linear alternate infinite;
}
.expertise .animation_right {
  animation: expertise_right 35s linear alternate infinite;
}

@keyframes expertise_left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-40%);
  }
}
@keyframes expertise_right {
  0% {
    transform: translateX(-40%);
  }
}
@media screen and (min-width: 768px) {
  .expertise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: #1c408c;
    padding-bottom: 2rem;
    margin-top: 3rem;
  }
  .expertise h1 {
    align-self: center;
  }
  .expertise .technology_line {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  .expertise .desktop-size {
    display: none;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "lust";
  src: url("../fonts/lust-slim.ttf");
}
.info_badin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: #f9fafe;
  padding-left: 1rem;
}
.info_badin h1 {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  color: #e0e0e0;
  line-height: 0.7;
  font-style: italic;
  width: 26rem;
  margin-top: 5rem;
}
.info_badin h3 {
  font-family: lust, "Courier", serif;
  font-weight: 900;
  font-style: italic;
  width: 23rem;
  margin-top: -1rem;
  color: #22252e;
  font-size: 44px;
  letter-spacing: 4px;
}
.info_badin p {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 29px;
  color: black;
  line-height: 1.7;
  text-decoration: underline;
  margin-top: 2rem;
}
.info_badin img {
  width: 273px;
  margin: 2rem 0rem;
}

@media screen and (min-width: 768px) {
  .info_badin {
    position: relative;
  }
  .info_badin h1 {
    width: auto;
    margin-top: 3rem;
  }
  .info_badin h3 {
    width: auto;
    margin-top: 0rem;
    color: #22252e;
    font-size: 44px;
    letter-spacing: 4px;
  }
  .info_badin p {
    margin-bottom: 7rem;
  }
  .info_badin img {
    position: absolute;
    right: 3rem;
    bottom: -1rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "lust";
  src: url("../fonts/lust-slim.ttf");
}
footer {
  background-color: #1a1a1a;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}
footer .responsive_wrapper .left_side .white_logo {
  width: 5rem;
}
footer .responsive_wrapper .left_side .message {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.6;
  font-weight: 700;
  opacity: 0.5;
  width: 65%;
  margin-top: 1rem;
}
footer .responsive_wrapper .left_side .logo_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
footer .responsive_wrapper .left_side .logo_container .social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 56px;
  height: 56px;
  background-color: #2c2d3c;
  border-radius: 40%;
  margin: 2rem 1rem 2rem 0rem;
}
footer .responsive_wrapper .left_side .logo_container .social_media img {
  width: 40%;
}
footer .responsive_wrapper .right_side {
  padding-bottom: 2rem;
}
footer .responsive_wrapper .right_side-navigation h5 {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: white;
  line-height: 1.6;
  margin-top: 1rem;
}
footer .responsive_wrapper .right_side-navigation ul {
  list-style: none;
  margin-top: 1rem;
}
footer .responsive_wrapper .right_side-navigation ul li {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  color: white;
  line-height: 1.6;
  opacity: 0.5;
  margin: 5px 0px;
}
footer .responsive_wrapper .right_side-contact h5 {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: white;
  line-height: 1.6;
  margin-top: 1rem;
}
footer .responsive_wrapper .right_side-contact .email {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  color: white;
  line-height: 1.6;
  opacity: 0.5;
  margin-top: 1rem;
  margin-bottom: 14px;
}
footer .responsive_wrapper .right_side-contact .address {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  color: white;
  line-height: 1.6;
  opacity: 0.5;
  margin-top: 0px;
}
footer .copyrights {
  border-top: 1px solid #2c2d3c;
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  color: white;
  line-height: 1.6;
  opacity: 0.5;
  padding: 1rem;
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 3rem;
    padding-right: 2rem;
  }
  footer .responsive_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  footer .responsive_wrapper .right_side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  footer .responsive_wrapper .right_side-navigation {
    margin-right: 6rem;
  }
  footer .copyrights {
    font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: white;
    line-height: 1.6;
    padding: 26px;
  }
}
@keyframes to-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes to-left {
  0% {
    opacity: 0;
    transform: translateY(2rem);
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
    transform: translateX(0rem);
  }
}
.top-section {
  background: url("./../slike/header-hero/hero-bg.png");
  background-size: cover;
  position: relative;
}
.top-section header {
  padding-top: 10px;
}
.top-section header .logo-badin {
  width: 110px;
  height: 50px;
  position: relative;
  left: 15px;
  top: 20px;
  animation: 0.4s to-up linear;
}
.top-section header .menu-btn {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 32px;
  height: 20px;
  width: 25px;
  cursor: pointer;
}
.top-section header .menu-btn__menu {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: white;
  line-height: 1.6;
  position: relative;
  top: 70%;
  left: 2rem;
  transform: rotate(270deg);
  font-weight: 300;
  display: none;
}
.top-section header .menu-btn__burger {
  position: absolute;
  right: 0;
  top: 16px;
  width: 20px;
  height: 2px;
  background: white;
}
.top-section header .menu-btn__burger::before {
  position: absolute;
  right: 0;
  top: -7px;
  width: 20px;
  height: 2px;
  background: white;
  content: "";
}
.top-section header .menu-btn__burger::after {
  position: absolute;
  right: 0;
  top: 7px;
  width: 20px;
  height: 2px;
  background: white;
  content: "";
}
.top-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 60px;
  padding: 20px;
  gap: 20px;
}
.top-section-container h1 {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  color: white;
  animation: 0.6s to-up linear;
}
.top-section-container h4 {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #909090;
  line-height: 1.7;
  margin-bottom: 10px;
  animation: 0.9s to-up linear;
}
.top-section-container .button_wrapper {
  width: 100%;
}
.top-section-container .button_wrapper .btn-1 {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  z-index: 1;
  color: black;
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  height: 55px;
  border-radius: 28px;
  border-style: none;
  background-color: white;
  margin-bottom: 1rem;
  animation: 1.4s to-up linear;
}
.top-section-container .button_wrapper .btn-2 {
  font-family: "Poppins", futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  z-index: 1;
  color: white;
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  height: 55px;
  border-radius: 28px;
  border-style: none;
  background-color: #303030;
  margin-bottom: 1rem;
  animation: 1.6s to-up linear;
}
.top-section-pictures {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.top-section-pictures-main_pic {
  position: relative;
  right: -20%;
  width: 26rem;
  animation: 1.6s to-left linear;
}
.top-section-pictures-tower_1 {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 60px;
  animation: 0.6s to-left linear;
}
.top-section-pictures-tower_2 {
  position: absolute;
  top: 71%;
  left: 20px;
  width: 72px;
}
.top-section-pictures-planet {
  position: absolute;
  top: 10%;
  left: 150px;
  width: 50px;
}
.top-section-pictures-net {
  position: absolute;
  width: 130%;
  bottom: -50%;
}
.top-section-pictures-white_bgr {
  position: absolute;
  bottom: 0rem;
  right: -21%;
  width: 62%;
}

@media screen and (min-width: 768px) {
  .top-section {
    padding-left: 12%;
    margin-bottom: 10rem;
  }
  .top-section header {
    padding-top: 4rem;
  }
  .top-section header .menu-btn {
    position: fixed;
    left: 2rem;
    top: 50%;
  }
  .top-section header .menu-btn__menu {
    display: block;
  }
  .top-section-container h1 {
    font-size: 80px;
    max-width: 36rem;
  }
  .top-section-container h4 {
    max-width: 38rem;
  }
  .top-section-container .button_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .top-section-container .button_wrapper .btn-1 {
    height: 56px;
    width: 197px;
  }
  .top-section-container .button_wrapper .btn-2 {
    height: 56px;
    width: 197px;
  }
  .top-section-pictures {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .top-section-pictures-main_pic {
    position: absolute;
    right: -8%;
    bottom: -8rem;
    width: 52vw;
  }
  .top-section-pictures-tower_1 {
    position: absolute;
    top: -9rem;
    right: 55px;
    width: 120px;
    z-index: 1;
  }
  .top-section-pictures-tower_2 {
    position: absolute;
    top: -9rem;
    left: 43%;
    width: 130px;
    z-index: 1;
  }
  .top-section-pictures-planet {
    position: absolute;
    top: -32rem;
    left: 63vw;
    width: 100px;
    z-index: 1;
  }
  .top-section-pictures-net {
    position: absolute;
    width: 70rem;
    right: -9%;
    bottom: -50%;
  }
  .top-section-pictures-white_bgr {
    position: absolute;
    bottom: 0rem;
    right: -26%;
    width: 80%;
  }
}/*# sourceMappingURL=main.css.map */