@import "config";
@import "font";

.expertise {
  @include flex-container(column, center, flex-start, nowrap);
  background-color: $blue_expertise;
  padding-bottom: 5rem;
  h1 {
    @include font-secondary-italic;
    align-self: flex-start;
    margin-top: 4rem;

    margin-left: 1rem;
    color: $white;
    font-size: 3.5rem;
    letter-spacing: 3px;
  }

  .technology_line {
    @include flex-container(row, flex-start, center, nowrap);
    user-select: none;
    margin-top: 3.5rem;
    gap: 1rem;
  }

  .technology_line-content {
    @include paragraphs(24px, $white, 1.6);
    opacity: 0.7;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: 1rem;
    list-style: none;
    font-weight: 700;
    animation: translateLeft 90s linear infinite alternate;
  }

  .to_right {
    animation-direction: alternate-reverse;
  }
}

@keyframes translateLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

@include media-md {
  .expertise {
    @include flex-container(column, center, flex-start, nowrap);
    padding-bottom: 2rem;
    margin-top: 4rem;
    h1 {
      align-self: center;
      margin-bottom: 3rem;
    }

    .technology_line {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .technology_line:nth-last-child(-n + 2) {
      display: none;
    }
  }
}
