@import "config";
@import "font";

.expertise {
  @include flex-container(column, center, flex-start, nowrap);
  background-color: $blue_expertise;
  h1 {
    @include font-secondary-italic;
    align-self: flex-start;
    margin-top: 4rem;

    margin-left: 1rem;
    color: $white;
    font-size: 3.5rem;
    letter-spacing: 3px;
  }
  .technologies {
    padding-bottom: 4rem;

    .technology_line-1 {
      @include flex-container(row, flex-start, center, nowrap);
      @include paragraphs(24px, $white, 1.6);
      opacity: 0.6;
      position: relative;
      top: 1.5rem;
      gap: 1.5rem;
      padding: 1rem;
      margin-top: 1rem;
      list-style-type: none;
      white-space: nowrap;
      animation: translateLeft 80s linear infinite alternate;
    }

    .technology_line-2 {
      @include flex-container(row, flex-start, center, nowrap);
      @include paragraphs(24px, $white, 1.6);
      opacity: 0.6;
      position: relative;
      top: 1.5rem;
      right: 0rem;
      gap: 1.5rem;
      padding: 1rem;
      margin-top: 1rem;
      list-style-type: none;
      white-space: nowrap;
      animation: translateLeft 80s linear infinite alternate-reverse;
    }
  }
}

@keyframes translateLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% + 100vw - 3rem));
  }
}

@include media-md {
  .expertise {
    @include flex-container(column, center, flex-start, nowrap);
    padding-bottom: 2rem;
    margin-top: 4rem;

    h1 {
      align-self: center;
      margin-bottom: 1rem;
    }

    .technologies {
      ul:nth-last-child(-n + 2) {
        display: none;
      }
    }
  }
}
