@import "config";
@import "font";

.pictures {
  margin-top: 4rem;

  .modal {
    display: none;
  }
  .picture_container {
    width: 90%;
    margin: auto;
    position: relative;

    img {
      width: 100%;
      border-radius: 1rem;
    }

    .zoom {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2.5rem;
      opacity: 0;
    }
  }

  // 5 and 6 not existing in mobile screen
  .picture_5,
  .picture_6 {
    display: none;
  }
}

@include media-md {
  .pictures {
    padding-left: 3rem;
    padding-bottom: 3rem;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "pic_1 pic_3 pic_5"
      "pic_2 pic_3 pic_4"
      "pic_6 pic_3 pic_4";

    gap: 35px;
    .picture_container {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .modal {
      display: none;
      position: fixed;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;

      .modal_container {
        @include flex-container(row, center, center, nowrap);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;

        button {
          width: 2rem;
          height: 2rem;
          background-color: $white;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          i {
            color: $blue_animation;
          }
        }

        .pic_left_btn:hover {
          position: relative;
          left: -4px;
          transition: 1s ease;
        }

        .pic_right_btn:hover {
          position: relative;
          right: 4px;
          transition: 1s ease;
        }

        .modal_image {
          margin-left: 3rem;
          margin-right: 3rem;
          width: 38rem;
          border-radius: 1rem;
        }
      }
    }

    .picture_container:hover {
      cursor: pointer;
      transition: 0.7s;
      position: relative;
      filter: brightness(70%);
      .zoom {
        transition: 0.4s linear;
        opacity: 1;
        pointer-events: none;
      }
    }

    .picture_1 {
      @include flex-container(row, flex-end, center, nowrap);
      grid-area: pic_1;
      top: 3rem;
      img {
        width: 95%;
      }
    }

    .picture_2 {
      @include flex-container(row, flex-end, center, nowrap);
      grid-area: pic_2;
      top: 3rem;
      img {
        width: 95%;
      }
    }

    .picture_3 {
      border-radius: 1rem;
      grid-area: pic_3;
    }

    .picture_4 {
      position: relative;
      top: 0rem;
      grid-area: pic_4;
    }

    .picture_5 {
      display: block;
      position: relative;
      top: 5rem;
      grid-area: pic_5;
    }

    .picture_6 {
      display: block;
      top: 3rem;
      border-radius: 1rem;
      grid-area: pic_6;
    }
  }
}

.popper {
  animation: 1.5s popper normal;
}

@keyframes popper {
  from {
    transform: translateY(3rem);
  }
}
