@import "config";
@import "font";
@import "clients-keyframes";

.what_we_offer {
  background-color: $lightgray;
  overflow: auto;
  padding-left: 1rem;

  h1 {
    @include font-secondary-italic;

    color: #22252e;
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 3rem 12px 2rem 12px;
  }

  p {
    @include paragraphs(15px, $graycolor, 1.6);
    margin: 1rem 16px;
    font-weight: 500;
  }

  .services_btn {
    @include flex_container(row, center, center, nowrap);
    @include paragraphs(16px, $white, 1.7);

    background-color: #317ade;
    padding: 1rem 1rem;
    margin: 2rem 1rem;
    width: 18rem;
    height: 3rem;
    border-radius: 2rem;
  }
  &-container {
    margin-bottom: 12rem;
    &-card {
      @include flex_container(column, center, flex-start, nowrap);
      width: 24rem;
      margin-bottom: 3rem;

      .what_we_offer-card-title_blue {
        @include paragraphs(16px, #317ade, 1.7);
        margin: 4px 1rem;
      }
      .what_we_offer-card-title_black {
        @include paragraphs(16px, black, 1.7);
        margin: 4px 1rem;
      }
      .what_we_offer-card-title_orange {
        @include paragraphs(16px, #ed701d, 1.7);
        margin: 4px 1rem;
      }
      .what_we_offer-card-title_green {
        @include paragraphs(16px, #1ebf73, 1.7);
        margin: 4px 1rem;
      }

      .icons-container {
        @include flex_container(row, flex-start, center, nowrap);
        padding-left: 1rem;
        margin-top: 1rem;

        .icon {
          width: 40px;
          height: 40px;
          margin-right: 1rem;

          img {
            width: 100%;
          }
        }
      }

      .main-picture-up {
        margin-top: 2rem;
        width: 160px;
        height: 250px;
        img {
          width: 100%;
        }
      }

      .main-picture-mid {
        margin-top: 2rem;
        width: 275px;
        height: 250px;
        img {
          width: 100%;
        }
      }

      .main-picture-dwn {
        margin-top: 2rem;
        width: 250px;
        height: 310px;
        img {
          width: 100%;
        }
      }
    }
  }

  .trusted_by_section {
    .quote-open,
    .quote-close {
      display: none;
    }
    h2 {
      @include font-secondary-italic;

      color: #22252e;
      font-size: 48px;
      letter-spacing: 2px;
      margin: 6rem 12px 2rem 12px;
    }

    p {
      @include paragraphs(16px, $graycolor, 1.6);
      margin: 1rem 16px;
      font-weight: 500;
    }

    .trusted_by_container {
      position: relative;
      margin-top: 4rem;
      margin-bottom: 3rem;
      padding-top: 1rem;
      overflow-x: hidden;
      @include flex_container(column, center, flex-start, nowrap);

      .wrapper-2,
      .wrapper-3,
      .wrapper-4,
      .wrapper-5 {
        display: none;
      }

      .arrow_wrapper {
        position: absolute;
        right: 4rem;
        top: 0rem;
        width: 4.3rem;
        @include flex-container(row, space-between, center, nowrap);

        .arrow-left {
          pointer-events: none;
          cursor: pointer;
          .fa-left-long {
            font-size: 1.4rem;
            color: $graycolor;
            pointer-events: none;
          }
        }
        .arrow-right {
          cursor: pointer;
          .fa-right-long {
            font-size: 1.4rem;
            color: $blue_animation;
            pointer-events: none;
          }
        }
      }

      &-pic_container {
        @include flex_container(row, start, baseline, nowrap);
        height: 150px;
        margin-left: 1rem;
        margin-bottom: 2rem;
        gap: 1rem;

        .client_pic_big {
          width: 130px;
          height: 130px;
          position: relative;
          bottom: 5px;
          transition: 0.7s linear;
          img {
            width: 100%;
          }
        }

        .client_pic_normal {
          width: 80px;
          height: 80px;
          transition: 0.7s linear;
          img {
            width: 100%;
          }
        }
      }

      .order_line {
        display: none;
      }

      .name_and_text_wrapper {
        .name_and_role {
          &-name {
            @include paragraphs(24px, #22252e, 1.6);
            font-weight: 700;
            margin-bottom: 0px;
          }

          &-role {
            @include paragraphs(16px, #6b728e, 1.6);
            font-weight: 700;
            margin-top: 0px;
          }
        }

        &-text {
          p {
            @include paragraphs(16px, black, 1.6);
            font-weight: 500;
            font-style: italic;
          }
        }
      }
    }
  }
}

// .mover {
//   position: relative;
//   left: -130px;
// }

@include media-md {
  .what_we_offer {
    position: relative;
    padding-left: 12%;

    h1 {
      font-size: 5rem;
      max-width: 28rem;
      margin-bottom: 1rem;
    }

    p {
      max-width: 40rem;
      line-height: 29px;
      margin-bottom: 4rem;
    }

    .services_btn {
      position: absolute;
      top: 2rem;
      right: 8%;
    }

    &-container {
      @include flex-container(row, start, center, nowrap);
    }

    .trusted_by_section {
      position: relative;
      h2 {
        font-size: 6rem;

        margin: 6rem 12px 2rem 12px;
      }

      p {
        max-width: 29rem;
        color: #6b728e;
      }

      .quote-open {
        display: block;
        position: absolute;
        top: 17rem;
        left: 25em;
        z-index: 1;
      }

      .quote-close {
        display: block;
        position: absolute;
        top: 42rem;
        left: 60rem;
        z-index: 1;
      }

      .trusted_by_container {
        height: 30rem;

        margin-top: 7rem;
        @include flex_container(row, flex-start, center, nowrap);
        position: relative;

        .wrapper-2,
        .wrapper-3,
        .wrapper-4,
        .wrapper-5 {
          display: block;
        }

        .arrow_wrapper {
          display: none;
        }

        &-pic_container {
          width: 22rem;
          height: 22rem;

          position: relative;

          .client_pic_big {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 0;

            img {
              width: 100%;
            }
          }

          .client_pic_normal {
            width: 80px;
            height: 80px;

            img {
              width: 100%;
            }
          }

          .rotator_1 {
            animation: picture-rotator1 25s infinite;
          }
          .rotator_2 {
            animation: picture-rotator2 25s infinite;
          }
          .rotator_3 {
            animation: picture-rotator3 25s infinite;
          }
          .rotator_4 {
            animation: picture-rotator4 25s infinite;
          }
          .rotator_5 {
            animation: picture-rotator5 25s infinite;
          }
          .client_pic_normal {
            position: absolute;
          }
        }

        .order_line {
          @include flex-container(column, space-around, center, nowrap);
          width: 3px;
          height: 18rem;
          margin-bottom: 1rem;
          padding: 22px 0px;
          background-color: $lightblue_animation;

          &-circle {
            width: 12px;
            height: 12px;
            background-color: $white;
            border: 2px solid $lightblue_animation;
            border-radius: 100%;
          }

          .circle_1 {
            animation: client_circle1 25s infinite;
          }
          .circle_2 {
            animation: client_circle2 25s infinite;
          }
          .circle_3 {
            animation: client_circle3 25s infinite;
          }
          .circle_4 {
            animation: client_circle4 25s infinite;
          }
          .circle_5 {
            animation: client_circle5 25s infinite;
          }
        }
        .name_and_text_wrapper {
          position: absolute;
          left: 29rem;
          @include flex-container(column-reverse, flex-end, start, nowrap);
          flex-grow: 1;
          margin-left: 1rem;
          padding-bottom: 2rem;
          min-width: 40rem;
          width: 30rem;

          &-text {
            p {
              @include paragraphs(17px, black, 1.6);
              max-width: 600px;
              line-height: 28px;
              font-style: italic;
            }
          }
        }

        .wrapper-1 {
          animation: text1 25s linear infinite;
        }
        .wrapper-2 {
          animation: text2 25s linear infinite;
        }
        .wrapper-3 {
          animation: text3 25s linear infinite;
        }
        .wrapper-4 {
          animation: text4 25s linear infinite;
        }
        .wrapper-5 {
          animation: text5 25s linear infinite;
        }
      }
    }
  }
}
